################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Aplikacja/bin/Debug/net10.0-windows/cs
